<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id='info'>
      Current temperature: <span id='temperature'>TEMP</span>C.<br>
      Currrent relative humidity: <span id='relhumidity'>RELHUMID</span>%.
    </div>
    <script src='javascripts/bundle.js'></script>
  </body>
</html>
