/* http://paletton.com/#uid=73y270k7UUa3cZA5wXlaiQ5cFL3 */

html, {
  background: grey;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  background: grey;
  padding: 0px;
  margin: 0px;
}

.statusbar {
  display: none;
  position: fixed;
  background: lightgray;
  bottom: 0px;
  height: 80px;
  overflow-y: scroll;
  text-align: left;
  padding: 3px;
  border: grey 1px solid;
}

.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;  /* main axis (horizontal) */
  align-items: stretch; /* cross axis (vertical) */  
  align-content: stretch; /* main axis multi-line */
  background: black;
  padding: 5px;
  margin: 0px;
}

.dashboard-singleview {
  flex-flow: wrap;
}

.dashboard-tileview {
  flex-flow: wrap;
}

.card {
  display: block;
  flex-grow: 1;
  box-shadow: 0px 0px 10px 0px grey;
  border-radius: 20px;
  background: #111111;
  padding: 10px;
  margin: 5px;
}

.card-visible {
  display: flex;
}

.card-hidden {
  display: none;
}

.cardcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start; /* main content start from top  */  
  border: 1px solid #CDE3F5;
  border-radius: 10px;
  background: ivory;
  width: 100%;
  margin: 0px auto;
}

.cardtitle {
  margin-top: -1px;
  margin-bottom: 10px;
  white-space: nowrap;
  font-family: arial;
  font-weight: bold;
  font-variant: small-caps;
  background: #E3FCE6;
  color: black;
  text-shadow: 1px 1px 0px white;
  border: solid 1px #CDE3F5;
  border-radius: 0px 0px 10px 10px;  
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.cardtitle-normal {
  background: #E3FCE6;
}

.cardtitle-error {
  background: #FFE7E6;
}

.cardicon {
  margin: 10px;
}

.cardvalue {
  white-space: nowrap;
  margin: 10px;
}

.value {
  color: black;
  font-size: 300%;
  font-weight: bold;
  text-shadow: 1px 1px 0px grey;  
}

.units {
  color: darkgray;
  font-size: 200%;
  font-weight: bold;
  text-shadow: 1px 1px 0px grey;  
  margin-left: 5px;
  vertical-align: text-bottom;
}

.date {
  color: grey;
  font-size: 75%;
}

.graph {
  margin-top: 10px;
  margin-bottom: 10px;    
}