/* http://paletton.com/#uid=73y270k7UUa3cZA5wXlaiQ5cFL3 */

html, body {
  background: black;
  overflow-y: auto;
}

.statusbar {
  display: none;
  position: fixed;
  background: lightgray;
  bottom: 0px;
  width: 100%;
  height: 80px;
  overflow-y: scroll;
  text-align: left;
  padding: 3px;
  border: grey 1px solid;
}

.dashboard {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-flow: wrap;
  justify-content: center;  /* main axis (horizontal) */
  align-items: stretch; /* cross axis (vertical) */  
  align-content: center; /* main axis multi-line */
  background: black;
  padding: 10px;
}

.card {
  display: flex;
  justify-content: center; /* main axis */
  align-content: stretch; /* main axis */
  align-items: stretch; /* cross axis */
  flex-grow: 1;
  box-shadow: 0px 0px 10px 0px #FFF4E6;
  border-radius: 20px;
  background: #111111;
  padding: 10px;
  margin: 10px;
  min-width: 30%;
}

.card-visible {
  display: flex;
}

.card-hidden {
  display: none;
}

.cardcontainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start; /* main content start from top  */  
  border: 1px solid #CDE3F5;
  border-radius: 10px;
  background: #E4F0FB;
}

.cardtitle {
  display: inline-flex;
  margin-top: -1px;
  margin-bottom: 10px;
  white-space: nowrap;
  font-family: arial;
  font-weight: bold;
  font-size: 100%;
  font-variant: small-caps;
  background: #E3FCE6;
  color: black;
  text-shadow: 1px 1px 0px white;
  border: solid 1px #CDE3F5;
  padding: 5px 20px;  
  border-radius: 0px 0px 10px 10px;  
}

.cardtitle-normal {
  background: #E3FCE6;
}

.cardtitle-error {
  background: #FFE7E6;
}

.cardicon {
  display: flex;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 128px;
}

.cardvalue {
  display: flex;
  white-space: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.value {
  display: inline-block;
  color: black;
  font-size: 300%;
  font-weight: bold;
  text-shadow: 1px 1px 0px grey;  
}

.units {
  color: darkgray;
  font-size: 200%;
  font-weight: bold;
  text-shadow: 1px 1px 0px grey;  
  margin-left: 5px;
  vertical-align: text-bottom;
}

.date {
  color: grey;
  font-size: 75%;
}

.graph {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 256px;
  min-height: 256px;

}